<div class="animate__animated animate__fadeIn">
    <div style="margin-right:auto; margin-left:auto; width: 300px">
        <a href="https://github.com/javapak" target="_blank"><img class="logo" src="{{onHoverImg}}" (mouseenter)="mouseEnter()" (mouseleave)="mouseExit()" width=80px/></a>
        <h1 [class]="onHover" style="text-align: center">Github: @javapak</h1>
        <h6 style="text-align: center">Follow for more WIP projects to come.</h6>
    </div>
    <div style="padding: 1%">
        <div style="text-align: center; padding: 1%">
            <div class="github-card" data-github="javapak/pywinmeter" data-width="400" data-height="" data-theme="default"></div>
        </div>
        <div style="text-align: center; padding: 1%">
            <div class="github-card" data-github="javapak/pycon-extract" data-width="400" data-height="" data-theme="default"></div>
        </div>
        
        <div style="text-align: center; padding: 1%">
            <div class="github-card" data-github="javapak/angular-personal-website" data-width="400" data-height="" data-theme="default"></div>
        </div>
    </div>
    
    
   
    
</div>
